* {
  margin: 0 auto;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #43aefc;
}

.inputFormDiv {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.backIcon {
  margin: 0;
  margin-right: 4px;
  cursor: pointer;
}

.headingName {
  margin-left: 3px;
}

.heading {
  border-bottom: 1px solid gray;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 12px 7px;
  color: #43aefc;
  font-size: 20px;
  display: flex;
}

.weatherForm {
  padding: 34px 43px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.weatherForm input {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  margin-bottom: 30px;
  width: 179px;
}

.weather-form input:focus {
  border-color: #ccc;
}

.weatherForm button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 202px;
}


.inputFormDiv {
  width: 300px;
  margin: 0 auto;
  background-color: white;
}


.container {
  width: 250px;
  height: 250px;
  position: absolute;
  right: -35px;
  top: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headername {
  font-size: 34px;
  font-weight: bold;
  text-transform: uppercase;
}

.weatherCrad {
  display: flex;
  flex-direction: column;
}

.weatherImg {
  margin-top: 5px;
}

.weatherCrad img {
  width: 55px;
}

.temp {
  font-size: 50px;
  font-weight: 600;
}

.temp span {
  font-size: 50px;
  font-weight: 400;
}

.description {
  text-transform: capitalize;
  margin-bottom: 5px;
}

.location{
  margin-bottom: 50px;
}

.footerCard {
  display: flex;
  border: 1px solid #d1c5c5;
  border-bottom: none;
}

.footerCard p {
  padding: 12px 27px;
  border: 1px solid #d1c5c5;
  border-bottom: none;
  width: 94px;
}

.error {
  color: rgb(247, 63, 63);
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
  padding: 73px 9px;
}

.iconWeather{
  font-size: 64px;
}

